/**
 * BINGO CSS
 */
 
body {
    font-family:'Oswald';
    background:#eef;
}

.container {
    width:60%;
    margin:40px auto;
    padding:20px;
    background:#fff;
    border:2px solid #ecc;
    border-radius:20px;
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    float:left;
}

.called {
    float:right;
}

.called > .number {
    display:inline-block;
    padding:10px;
    font-size:2em;
    margin-left:10px;
    background:#f09;
    border-radius:100%;
    width:50px;
    text-align:right;
    position:relative;
}

.called > .number.i {
    background:#f90;
}

.called > .number.n {
    background:#9f0;
}

.called > .number.g {
    background:#09f;
}

.called > .number.o {
    background:#90f;
}

.called > .number:before {
    display:block;
    width: 20px;
    font-size:1em;
    position:absolute;
    left:8px;
}

.called > .number.b:before {
    content:"B";
}

.called > .number.i:before {
    content:"I";
    left:0px;
}

.called > .number.n:before {
    content:"N";
    left:5px;
}

.called > .number.g:before {
    content:"G";
    left:5px;
}

.called > .number.o:before {
    content:"O";
    left:5px;
}

.bingo-board {
    background:#eff;
    padding:20px;
    border-radius:20px;
    clear:both;
}

.bingo-column {
    float:left;
    width:20%;
}

.bingo-column > .number {
    text-align:center;
    font-size:3em;
    border-right:3px dashed rgba(0, 0, 0, 0.4);
    border-bottom:2px dashed rgba(0, 0, 0, 0.4);
    cursor:pointer;
}

.bingo-column:nth-child(5) > .number {
    border-right:0px;
}

.bingo-column > .number:last-child {
    border-bottom:0px;
}

.bingo-column > .number:nth-child(2){
    background:#cc0;
}

.bingo-column > .number:nth-child(3){
    background:#0cc;
}

.bingo-column > .number:nth-child(4){
    background:#c0c;
}

.bingo-column > .number:nth-child(5){
    background:#00c;
}

.bingo-column > .number:nth-child(6){
    background:#0c0;
}

.bingo-column > .letter {
    border-bottom:3px solid #600;
    border-right:0px;
    margin-bottom:5px;
}

.bingo-column > .number.daubed {
    color:transparent;
    background:#f00;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display:block;
}

button#bingo {
    margin:20px auto;
    display:block;
    padding:20px;
    font-size:2em;
    font-family:'Oswald';
    border:0px;
    background: rgb(69,72,77); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
    color:#eee;
    width:60%;
    letter-spacing:20px;
}